git-project-url: https://github.com/pivotalservices/concourse-pipeline-samples.git

# use ops-manager's host domain name below, NOT its ip address
ops-manager-hostname: myopsmanager.domain.com

# For environments where OpsMngr hostname is not visible from concourse subnet, in order to concourse workers/containers in order to ssh opsman vm
# Otherwise leave it commented out
ops-manager-private-ip: 0.0.0.0

ops-manager-ssh-user: my-ops-manager-ssh-user
ops-manager-ssh-password: my-ops-manager-ssh-password

# UAA client id and secret - see setup instructions at http://www.cfops.io/#creating-an-admin-client-with-the-uaac-cli
uaa-client-id: my-uaa-client-id
uaa-client-secret: my-uaa-client-secret

file-repo-ip: 255.255.255.255
file-repo-user: my-file-repo-userid
file-repo-password: my-file-repo-password
file-repo-path: my-file-repo-path
number-of-days-to-keep-backup-files: 10

s3-bucket: CHANGEME
s3-access-key: CHANGEME
s3-secret-access-key: CHANGEME
s3-endpoint: CHANGEME
s3-signature-version: s3v2  # default to v2
