git-project-url: https://github.com/pivotalservices/concourse-pipeline-samples.git
github_token: YOUR-GITHUB-ACCESS-TOKEN-GOES=HERE

# use ops-manager's host domain name below, NOT its ip address
ops-manager-hostname: myopsmanager.domain.com

ops-manager-ssh-user: my-ops-manager-ssh-user
ops-manager-ssh-password: my-ops-manager-ssh-password

# UAA client id and secret - see setup instructions at http://www.cfops.io/#creating-an-admin-client-with-the-uaac-cli
uaa-client-id: my-uaa-client-id
uaa-client-secret: my-uaa-client-secret

jumpbox-ip-or-hostname: hostname_or_ip
jumpbox-ssh-user: ssh_user_id
jumpbox-ssh-password: ssh_password

### s3cfops, s3cmd, aws, scp
file-transfer-method: s3cfops

s3-bucket: CHANGEME
s3-destination-path: DESTINATION-PATH # when not empty, use leading slash, but no trailing slash
s3-access-key: CHANGEME
s3-secret-access-key: CHANGEME
s3-endpoint: CHANGEME
s3-use-s3cmd-ssl: true  # true or false
s3-signature-version: s3v2  # default to v2

file-repo-ip: 255.255.255.255
file-repo-user: my-file-repo-userid
file-repo-password: my-file-repo-password
file-repo-path: my-file-repo-path
number-of-days-to-keep-backup-files: 10
