git-project-url: https://github.com/lsilvapvt/concourse-pipeline-samples.git

# use ops-manager's host domain name below, NOT its ip address
ops-manager-hostname: myopsmanager.domain.com
ops-manager-ui-user: my-ops-manager-ui-user
ops-manager-ui-password: my-ops-manager-ui-password
ops-manager-ssh-user: my-ops-manager-ssh-user
ops-manager-ssh-password: my-ops-manager-ssh-password

file-repo-ip: 255.255.255.255
file-repo-user: my-file-repo-userid
file-repo-password: my-file-repo-password
file-repo-path: my-file-repo-path
number-of-days-to-keep-backup-files: 10
