# The git project URL where the nats-to-syslog pipeline scripts and yml files are stored
git-project-url: https://github.com/pivotalservices/concourse-pipeline-samples.git

###### PCF CF API end point
pcf-api: <your-cf-apps-domain>

deploy-username: <pcf-username>
deploy-password: <pcf-password>
deploy-organization: system
deploy-space: system

nats_userid: nats
nats_password: <nats password>
nats_ip: <nats-ip>
nats_port: 4222
nats_subject: ">"
syslog_endpoint: <syslog-server>:514'
