# The git project URL where the nats-to-syslog pipeline scripts and yml files are stored
git-project-url: https://github.com/pivotalservices/concourse-pipeline-samples.git

###### PCF CF API end point
pcf-api: api.sys.<your-domain>

deploy-username: <pcf-username>
deploy-password: <pcf-password>
deploy-organization: system
deploy-space: system

doppler_endpoint: wss://doppler.sys.<your-domain>:443
firehose_user: <your-firehose-userid>
firehose_password: <your-firehose-pwd>
syslog_endpoint: <syslog-end-point e.g. dopplwer.test.com:514>
