git-project-url: https://github.com/pivotalservices/concourse-pcf-usage-report.git
smtp-host: <hostname of smtp server e.g. smtp.gmail.com>
smtp-port: <port of smtp server e.g. 465>
smtp-username: <your-email-address-with-host e.g. myadress%40gmail.com>
smtp-password: <your-email-password>
email-from: <your-email-address-with-host or sender email address>
email-to: <the-list-of-recipients-to-send-notification-emails-to>
