deploy-username: <pws-username>
deploy-password: <pws-password>
pws-organization: <pws-org-name>
pws-space: <pws-stage-space-name>
pws-api: <pws-api-url>
pws-app-suffix: app-hello
pws-app-domain: cfapps.io
